@{
	ViewData["Title"] = "Maintenance";
}

<h1>Site Maintenance</h1>

<img src ="~/images/Maintenance.gif" width="500" height="500"/>

<p>This site it's closed to daily Maintenance</p>
<p>We are sorry for the incovenience. Please come back later.</p>