@model IEnumerable<Class06.Models.Student>

@{
	ViewData["Title"] = "Index2";
}

<h1> Students List </h1>

@if (String.IsNullOrEmpty(ViewBag.letter) == false)
{
	<p>Names started by '@ViewBag.letter'</p>
} else
{
	<p>All names</p>
}

@if (String.IsNullOrEmpty(ViewBag.letter))
{
	<span style="color:red; font-weight: bold;">All &nbsp; |&nbsp;</span>
} else
{
	<span><a asp-route="filtered" asp-route-letter="">All</a> &nbsp;|&nbsp</span>
}

@for(char c= 'A'; c<='Z'; c++)
{
	if(ViewBag.letter == " " + c)
	{
		<span style="color: red; font-weight:bold;">@c &nbsp;|&nbsp</span>
	} else
	{
		<span><a asp-route="filtered" asp-route-letter="@c"> @c </a> &nbsp;|&nbsp</span>
	}
}


<partial name="Listing" model="Model" />
