@{
	ViewData["Title"] = "OnlyClientsandAdmins";
}

<h1>This page is only for Clients and Administrators</h1>

<h1>
	Welcome @if (User.IsInRole("Admin"))
	{
		<span>Administrator</span>
	} else
	{
		<span>Client</span>
	}
	@User.Identity.Name
</h1>

