@model IEnumerable<NOR_24.Models.RegistoUtilizador>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Lista";
    var estado = HttpContextAccessor.HttpContext?.Session.GetString("estado");
}

<h1>Utilizadores</h1>

@if (ViewData.ModelState.IsValid && TempData["Sucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Sucesso"]
    </div>
}

@if(estado == null || estado != "editar")
{
    <br></br>
} else
{
    <p>
        <a asp-action="Adiciona" class="btn btn-outline-primary"> + </a>
    </p>
}


<partial name="Listagem" model="Model"></partial>