<h1>Preferences</h1>

<h2>View Mode</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Preferences">
            <div class="form-group">
                <input type="radio" name="mode" value="light" checked=@(ViewBag.mode == "light")></input>Light
                <br></br>
                <input type="radio" name="mode" value="dark" checked=@(ViewBag.mode == "dark")></input>Dark
            </div>
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-primary"></input>
            </div>
        </form>
    </div>
</div>