@model REC_22.Models.EmpresaPaisViewModel

@{
    ViewData["Title"] = "MaisInfo";
}

<h1>MaisInfo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Logotipo
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empresa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <img src="~/Fotos/@item.Logotipo"></img>
            </td>
        </tr>
}
    </tbody>
</table>
